.accordionContainer {
  width: 100%;
  /* max-width: 400px; */
}

.accordionItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  transition: 0.3s;
}

.accordionItem:hover {
  background: #f9f9f9;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  /* background: #f1f1f1; */
  border-bottom: 1px solid #ddd;
  /* border: 1px solid rgb(29, 28, 28); */
}

.headerLeftItems input {
  margin-right: 10px;
}

.headerLeftItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;

  & .badges {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.headerRightItems {
  display: flex;
  align-items: center;
  gap: 10px;

  .actionIcon:hover {
    background-color: #ddd;
    border-radius: 100%;
  }
}

.accordionContentWrapper {
  padding: 20px 20px 13px 20px;
}

.accordionContent {
  resize: none;
  padding: 20px;
  background: black;
  color: white;
  white-space: pre-wrap; /* Permite a quebra de linha */
  word-wrap: break-word; /* Garante que palavras longas quebrem */
  overflow-wrap: break-word;
  width: 100%;
  border-radius: 5px;
}

.accordionItem[draggable="true"] {
  cursor: grab;
}
